In [2]:
%load_ext sql

In [3]:
%sql sqlite:///library.db

'Connected: @library.db'

In [56]:
%%sql

CREATE TABLE User (
    UserID INTEGER PRIMARY KEY,
    Username TEXT NOT NULL UNIQUE,
    Email TEXT NOT NULL,
    Password TEXT NOT NULL,
    UserType TEXT NOT NULL
);

 * sqlite:///library.db
Done.

[]

In [17]:
%%sql
CREATE TABLE Item (
    ItemID INTEGER PRIMARY KEY,
    ItemType TEXT NOT NULL,
    Title TEXT NOT NULL,
    Author TEXT,
    Publisher TEXT,
    Availability INTEGER NOT NULL DEFAULT 1
);

 * sqlite:///library.db
Done.

[]

In [19]:
%%sql
CREATE TABLE Borrowing (
    BorrowingID INTEGER PRIMARY KEY,
    UserID INTEGER,
    ItemID INTEGER,
    BorrowDate DATE NOT NULL,
    DueDate DATE NOT NULL,
    Returned INTEGER NOT NULL DEFAULT 0,
    FOREIGN KEY (UserID) REFERENCES User(UserID),
    FOREIGN KEY (ItemID) REFERENCES Item(ItemID),
    UNIQUE (UserID, ItemID)
);

 * sqlite:///library.db
Done.

[]

In [20]:
%%sql
CREATE TABLE Event (
    EventID INTEGER PRIMARY KEY,
    EventType TEXT NOT NULL,
    Title TEXT NOT NULL,
    Description TEXT,
    Date DATE NOT NULL,
    Location TEXT,
    Audience TEXT
);

 * sqlite:///library.db
Done.

[]

In [21]:
%%sql
CREATE TABLE Attendee (
    EventID INTEGER,
    UserID INTEGER,
    FOREIGN KEY (EventID) REFERENCES Event(EventID),
    FOREIGN KEY (UserID) REFERENCES User(UserID),
    PRIMARY KEY (EventID, UserID)
);

 * sqlite:///library.db
Done.

[]

In [34]:
%%sql
CREATE TABLE Personnel (
    PersonnelID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Position TEXT NOT NULL
);

 * sqlite:///library.db
Done.

[]

In [23]:
%%sql
CREATE TABLE Donation (
    DonationID INTEGER PRIMARY KEY,
    UserID INTEGER,
    ItemID INTEGER,
    DonationDate DATE NOT NULL,
    FOREIGN KEY (UserID) REFERENCES User(UserID),
    FOREIGN KEY (ItemID) REFERENCES Item(ItemID)
);

 * sqlite:///library.db
Done.

[]

User(UserID, Username, Email, Password, UserType)
Item(ItemID, ItemType, Title, Author, Publisher, Availability)
Borrowing(BorrowingID, UserID FK, ItemID FK, BorrowDate, DueDate, Returned)
Event(EventID, EventType, Title, Description, Date, Location, Audience)
Attendee(EventID FK, UserID FK)
Personnel(PersonnelID, Name, Position)
Donation(DonationID, UserID FK, ItemID FK, DonationDate)

- Find an item in the library
- Borrow an item from the library
- Return a borrowed item
- Donate an item to the library
- Find an event in the library
- Register for an event in the library
- Volunteer for the library
- Ask for help from a librarian

- Library has print books, online books, magazines, scientific journals, CDs, records, etc.

- People can borrow the items from library and return by the due date.

- People may be subject to fines if they do not return items by the due date.

- Library also holds book clubs, book related events, art shows, film screenings, etc.

- Library events are recommended for specific audiences.

- Library events are held on library social rooms.

- People can attend library events for free.

- Library also has personnel and record keeping for personnel.

- Library also keeps records of items (books, etc.) that might be added to library in the future.

In [57]:
%%sql
INSERT INTO User (Username, Email, Password, UserType) VALUES
('JohnDoe', 'john.doe@example.com', 'password123', 'member'),
('JaneSmith', 'jane.smith@example.com', 'pass456', 'member'),
('Admin1', 'admin1@example.com', 'adminpass', 'librarian'),
('VolunteerA', 'volunteerA@example.com', 'volunteerpass', 'volunteer'),
('User5', 'user5@example.com', 'userpass5', 'member'),
('User6', 'user6@example.com', 'userpass6', 'member'),
('Librarian2', 'librarian2@example.com', 'libpass2', 'librarian'),
('VolunteerB', 'volunteerB@example.com', 'volunteerpass', 'volunteer'),
('User9', 'user9@example.com', 'userpass9', 'member'),
('User10', 'user10@example.com', 'userpass10', 'member');

 * sqlite:///library.db
10 rows affected.

[]

In [27]:
%%sql
INSERT INTO Item (ItemType, Title, Author, Publisher, Availability) VALUES
('Print Book', 'The Great Gatsby', 'F. Scott Fitzgerald', 'Scribner', 1),
('Online Book', 'To Kill a Mockingbird', 'Harper Lee', 'Harper Perennial Modern Classics', 1),
('Magazine', 'National Geographic', NULL, 'National Geographic Society', 1),
('CD', 'Abbey Road', 'The Beatles', 'Apple Records', 1),
('Record', 'Thriller', 'Michael Jackson', 'Epic Records', 1),
('Print Book', '1984', 'George Orwell', 'Secker & Warburg', 1),
('Online Book', 'The Lord of the Rings', 'J.R.R. Tolkien', 'Allen & Unwin', 1),
('CD', 'Dark Side of the Moon', 'Pink Floyd', 'Harvest', 1),
('Print Book', 'Pride and Prejudice', 'Jane Austen', 'T. Egerton, Whitehall', 1),
('Record', 'Back in Black', 'AC/DC', 'Atlantic', 1);

 * sqlite:///library.db
10 rows affected.

[]

In [28]:
%%sql
INSERT INTO Borrowing (UserID, ItemID, BorrowDate, DueDate, Returned) VALUES
(1, 1, '2023-07-01', '2023-07-15', 0),
(2, 3, '2023-07-02', '2023-07-16', 0),
(4, 2, '2023-07-03', '2023-07-17', 0),
(7, 4, '2023-07-04', '2023-07-18', 0),
(8, 5, '2023-07-05', '2023-07-19', 0),
(3, 7, '2023-07-06', '2023-07-20', 0),
(5, 6, '2023-07-07', '2023-07-21', 0),
(6, 9, '2023-07-08', '2023-07-22', 0),
(9, 8, '2023-07-09', '2023-07-23', 0),
(10, 10, '2023-07-10', '2023-07-24', 0);

 * sqlite:///library.db
10 rows affected.

[]

In [29]:
%%sql
INSERT INTO Event (EventType, Title, Description, Date, Location, Audience) VALUES
('Book Club', 'Summer Reading Club', 'Join us for a summer of reading!', '2023-07-12', 'Library Room A', 'All ages'),
('Art Show', 'Local Artists Showcase', 'Discover local talent in this art exhibition.', '2023-07-15', 'Art Gallery', 'Public'),
('Film Screening', 'Movie Night: Inception', 'Watch the mind-bending thriller Inception.', '2023-07-20', 'Theater Room', 'Teens and adults'),
('Book Club', 'Classic Literature Discussion', 'Discuss the timeless works of classic literature.', '2023-07-25', 'Library Room B', 'Adults'),
('Film Screening', 'Family Movie Matinee', 'Enjoy a family-friendly movie together.', '2023-07-28', 'Theater Room', 'Families'),
('Art Show', 'Nature in Art', 'Explore the beauty of nature through art.', '2023-08-02', 'Art Gallery', 'All ages'),
('Book Club', 'Mystery Book Discussion', 'Unravel the mysteries of thrilling novels.', '2023-08-05', 'Library Room A', 'Teens and adults'),
('Film Screening', 'Classic Movie Marathon', 'A marathon of timeless classic films.', '2023-08-10', 'Theater Room', 'Public'),
('Book Club', 'Sci-Fi & Fantasy Book Talk', 'Dive into the world of science fiction and fantasy literature.', '2023-08-15', 'Library Room B', 'Adults'),
('Art Show', 'Abstract Art Exhibition', 'Experience the world of abstract art.', '2023-08-20', 'Art Gallery', 'Public');

 * sqlite:///library.db
10 rows affected.

[]

In [30]:
%%sql
INSERT INTO Attendee (EventID, UserID) VALUES
(1, 1),
(1, 2),
(2, 3),
(3, 4),
(3, 5),
(4, 6),
(5, 7),
(5, 8),
(6, 9),
(7, 10);

 * sqlite:///library.db
10 rows affected.

[]

In [35]:
%%sql
INSERT INTO Personnel (PersonnelID, Name, Position) VALUES
(1, 'Alice', 'Librarian'),
(2, 'Bob', 'Librarian'),
(3, 'Carol', 'Volunteer'),
(4, 'David', 'Volunteer'),
(5, 'Eve', 'Librarian'),
(6, 'Frank', 'Volunteer'),
(7, 'Grace', 'Librarian'),
(8, 'Henry', 'Librarian'),
(9, 'Isabel', 'Volunteer'),
(10, 'John', 'Volunteer');

 * sqlite:///library.db
10 rows affected.

[]

In [37]:
%%sql
INSERT INTO Donation (UserID, ItemID, DonationDate) VALUES
(1, 6, '2023-07-11'),
(2, 5, '2023-07-12'),
(3, 2, '2023-07-14'),
(4, 1, '2023-07-15'),
(5, 7, '2023-07-18'),
(6, 3, '2023-07-19'),
(7, 8, '2023-07-21'),
(8, 9, '2023-07-22'),
(9, 10, '2023-07-25'),
(10, 4, '2023-07-29');

 * sqlite:///library.db
10 rows affected.

[]

In [53]:
%%sql
CREATE TRIGGER update_item_attribute
AFTER INSERT ON Borrowing
FOR EACH ROW
BEGIN
    UPDATE Item
    SET Availability = 0
    WHERE ItemID = NEW.ItemID;
END;

 * sqlite:///library.db
Done.

[]

In [7]:
%%sql

CREATE TRIGGER update_item_after_delete
AFTER DELETE ON Borrowing
FOR EACH ROW
BEGIN
    UPDATE Item
    SET Availability = 1
    WHERE ItemID = OLD.ItemID;
END;

 * sqlite:///library.db
Done.

[]

In [13]:
%%sql
/*
Find an item in the library
Borrow an item from the library
Return a borrowed item
Donate an item to the library
Find an event in the library
Register for an event in the library
Volunteer for the library
Ask for help from a librarian

User(UserID, Username, Email, Password, UserType)
Item(ItemID, ItemType, Title, Author, Publisher, Availability)
Borrowing(BorrowingID, UserID FK, ItemID FK, BorrowDate, DueDate, Returned)
Event(EventID, EventType, Title, Description, Date, Location, Audience)
Attendee(EventID FK, UserID FK)
Personnel(PersonnelID, Name, Position)
Donation(DonationID, UserID FK, ItemID FK, DonationDate)
*/
SELECT * FROM Donation;

 * sqlite:///library.db
Done.

[(1, 1, 6, '2023-07-11'),
 (2, 2, 5, '2023-07-12'),
 (3, 3, 2, '2023-07-14'),
 (4, 4, 1, '2023-07-15'),
 (5, 5, 7, '2023-07-18'),
 (6, 6, 3, '2023-07-19'),
 (7, 7, 8, '2023-07-21'),
 (8, 8, 9, '2023-07-22'),
 (9, 9, 10, '2023-07-25'),
 (10, 10, 4, '2023-07-29')]

Library(printBooks, onlineBooks, magazines, scientificJournals, cd, record)